@font-face {
    font-family: 'US';
    src: url('../../../assets/fonts/SFUIDisplay-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'US';
    src: url('../../../assets/fonts/SFUIDisplay-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'US';
    src: url('../../../assets/fonts/SFUIDisplay-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'US';
    src: url('../../../assets/fonts/SFUIDisplay-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

.container {
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 75px 60px;
}

.left {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.name {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    font-family: 'US';
    color: #333333;
    margin-bottom: 3px;
}

.list {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-bottom: 25px;
}

.item::marker {
    color: #B7280F;
}

.item {
    font-weight: 400;
    font-size: 16px;
    line-height: 33px;
    font-family: 'US';
    color: #333333;
}

.task {
    width: 75%;
    margin-bottom: 25px;
}

.task input {
    width: 100%;
    border-style: none;
    border-radius: 5px;
    padding: 19px 16px;
    background-color: #f4f4f4;
}

.addTask {
    padding: 0;
    margin: 0;
    border-style: none;
    background-color: #A8B64F;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    font-family: 'US';
    padding: 19px 50px;
    color: #FFFFFF;
    border-radius: 5px;
    margin-bottom: 25px;
    align-self: flex-start;
}

.right {
    width: 52%;
    border-radius: 10px;
}

.timerTop {
    padding: 20px 40px;
    background-color: #c4c4c4;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.timerTop span {
    font-weight: 700;
    font-size: 16px;
    line-height: 17px;
    font-family: 'US';
    color: #FFFFFF;
}

.timerBottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
    padding-bottom: 60px;
    padding-top: 40px;
}

.timerDisplay {
    display: flex;
    align-items: center;
    padding-left: 50px;
}

.timer {
    margin-right: 25px;
    font-weight: 300;
    font-size: 150px;
    line-height: 179px;
    font-family: 'US';
    color: #333333;
}

.taskTarget {
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    font-family: 'US';
    color: #999999;
    margin-bottom: 32px;
}

.taskName {
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    font-family: 'US';
    color: #333;
}

.buttons {
    display: flex;
    align-items: center;
}

.start {
    padding: 0;
    margin: 0;
    border-style: none;
    background-color: #A8B64F;
    padding: 20px 50px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 25px;
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    font-family: 'US';
    color: #FFFFFF;
}

.stop {
    padding: 0;
    margin: 0;
    border-style: none;
    background-color: #fff;
    padding: 20px 50px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    font-family: 'US';
    color: #A8B64F;
}

.addTime {
    border-style: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.tasksList {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
}

.tasksList li {
    border-top: 1px solid #e4e4e4;
}

.tasksList li:last-child {
    border-bottom: 1px solid #e4e4e4;
    border-top: 1px solid #e4e4e4;
}